/* Import Fonts */

/* latin-ext */
@font-face {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/courgette/v13/wEO_EBrAnc9BLjLQAUk1WPoK7Es.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/courgette/v13/wEO_EBrAnc9BLjLQAUk1VvoK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dosis/v27/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml1BMEfq4.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dosis/v27/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml1RMEfq4.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dosis/v27/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xME.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Universal */
html {
    font-size: calc(16px + 0.390625vw);
    color: white;
    background-color: rgb(114, 109, 51);  
}

body, h1 {
    font-family: 'Courgette', cursive;
    
}

footer, h2, nav a {
    font-family: 'Dosis', sans-serif;

}

h2 {
  display: inline;
  margin-left: 3%;
  font-size: calc(28px + 0.390625vw);
  padding: 20px 0;
}

.back-to-top{
  float:right;
  margin-right: 3%;
  color: white;
  font-size: calc(16px + 0.390625vw);
  padding: 10px 0;
}


/* Nav Bar */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* Splash */
.splash-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(./images/splash-background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  margin: 10px auto;
}

.splash {
  color: white;
}

/*Walks*/
.walks {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 10px;
}

img {
  margin: 10px auto;
  width:95%;
}

/*The team*/
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width:100%;
}

figure {
  margin: 20px;
}

.team-img {
  border-radius: 50%;
  margin-bottom: 15px;
  width: 200px;
  height: 200px;
}

figcaption{
  text-align: center;
  font-size: calc(16px + 0.390625vw);
}

/*Footer*/
footer{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: black;
}

footer p {
  text-align: center;
  margin-bottom: 0.8rem;
  font-size: calc(14px + 0.390625vw);
}

footer h3 {
  font-size: calc(20px + 0.390625vw);
  margin: 0.8rem 0;
}



/* Media Queries
To adust the size of Walk Ormskirk h1 and background splash image
*/

/* If the screen size is 420px wide or less */
@media screen and (max-width: 420px) {
  .splash-container {
    height: 15rem;
  }

  .splash {
    font-size:2.5rem;
  }
}

/* If the screen size is 421px wide up to 650px */
@media screen and (min-width:421px) and (max-width:650px){
  .splash-container {
    height: 18rem;
  }

  .splash {
    font-size: 3rem;
  }

}
  
/* If the screen size is 651px wide up to 1023px */
@media screen and (min-width: 651px) and (max-width: 1023px){

  .splash-container {
    height: 18rem;
  }

  .splash {
    font-size: 4.5rem;
  }
}

/* If the screen size is 1024px wide up to 2499px*/
@media screen and (min-width: 1024px) and (max-width: 2499px){
  .splash-container {
    height: 22rem;
  }

  .splash {
    font-size: 5.5rem;
  }
  
}

/* If the screen size is 2500px wide or more */
@media screen and (min-width: 2500px){
  .splash-container {
    height: 60rem;
  }
}